html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  background: #f7f7fc;
}

/*
  Layout
*/
.app {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(51,51,79,.07);
}

/*
  Section
*/
section {
  max-height: calc(100vh - 6.25rem);
  overflow-y: auto;
  padding: 1.5rem 2rem;
  transition: max-height 0.25s ease-in;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  border-left: 1px solid #e6e6ff;
  border-right: 1px solid #e6e6ff;
  border-bottom: 1px solid #e6e6ff;
}

section.is-message {
  padding: 5rem;
}

section.is-message .title {
  color: #b8b8d9;
}

/*
  Search bar
*/
.search-bar .input {
  border-color: #e6e6ff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-bar .button.is-search {
  border: 0;
  padding: 0 2rem;
  color: #fff;
  border-color: #e6e6ff;
  border-bottom-right-radius: 0px;
  background: #6078ff;
}

.search-bar .input:focus, .search-bar .button:focus {
  box-shadow: none;
  border-color: #6078ff;
}

/*
  Artist/Album Cover
*/
.cover {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(51,51,79,.1);
}

.cover .image {
  background-color: #6078ff;
}

.cover .details {
  padding: 0.6rem 1rem 1rem;
}

.cover .name {
  background-color: #fcfcff;
}

.cover .name .subtitle {
  color: #7171a6;
}

.cover .released {
  color: #b8b8d9;
}

.disc {
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  height: 2.25em;
  color: #fff;
  background: #6078ff;
  border-bottom: 2px solid #3755ff;
}

/*
  Popularity
*/
.popularity {
  display: flex;
  flex-direction: row;
}

.popularity .icon {
  font-weight: bold;
  font-size: 2.5rem;
  color: #3755ff;
}

/*
  Helper
*/
.is-fullwidth {
  width: 100%;
}

/*
  Emphasized button
*/
.button.is-emphazised {
  margin: 0;
  border: 0;
  color: #fff;
  background: #6078ff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-block;
  border-bottom: 2px solid #3755ff;
}

.button.is-emphazised:hover {
  background: #3755ff;
  border-bottom: 2px solid #1437ff;
}
